*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body{
    height: 100vh;
    background: linear-gradient(to right, rgb(67, 216, 216), rgb(56, 219, 184));
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.box{
    background-color: white;
    width: fit-content;
    padding: 50px;
    box-shadow: 5px 5px 10px;
}
input{
    padding: 10px;
    border-radius: 5px;
}
h1{
    color: hotpink;
}
input[type="button"]{
    background-color: aqua;
}